<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Warenkorb</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="page-cart">
  <h1>Warenkorb</h1>

  <div v-if="cart.length === 0">
    <p>Der Warenkorb ist leer.</p>
    <a href="index.html">Zurück zum Shop</a>
  </div>

  <div v-else>
    <table border="1" cellpadding="5">
      <tr v-for="item in cart" :key="item.id">
        <td>{{ item.title }}</td>
        <td>{{ Number(item.price).toFixed(2) }} €</td>
        <td>{{ item.quantity }}</td>
        <td>{{ (item.price * item.quantity).toFixed(2) }} €</td>
        <td>
          <button @click="orderProduct(item)">+</button>
          <button @click="removeProduct(item)">−</button>
        </td>
      </tr>
    </table>

    <p><strong>Gesamt: {{ cartGrossPrice.toFixed(2) }} €</strong></p>


    <button @click="pay" style="margin-top:12px;">
      Zur Kasse
    </button>

    <br><br>
    <a href="index.html">Weiter einkaufen</a>
  </div>
</div>

<script src="js/cart.js"></script>
</body>
</html>
